html,body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
   
}
#login-img{
   width: 100%;
   height: 100%;
   border-top-right-radius: 3rem;
   border-bottom-right-radius: 3rem;
   
}
.main-container{
    display: flex;
    flex:1; 
    flex-direction: row;
}
.login-container{
    flex: 2;
    display:flex;
    justify-content: center;
   
    flex-direction: column;

}
#txt-container{
    display: flex;
    align-items: center;    

flex-direction: column;

}
.img-container{
    flex: 1;
}

h1{
    color: var(--neutral-07100, #141718);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Headline 4 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 110% */
    letter-spacing: -0.4px; 
margin-bottom: 5px;

}

h2{
    color: var(--neutral-04100, #6C7275);
font-feature-settings: 'clig' off, 'liga' off;

/* Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

#txt-container{
    width:456px;

    display: flex;
    align-items: stretch;    

flex-direction: column;
margin-bottom: 20px;


}

input{
    width:456px;
    height: 50px;
    margin-bottom: 32px;
    border: none;
    color: var(--neutral-04100, #6C7275);

/* Body 2 */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    border-bottom: 0.1rem  #6C7275 double;
}
#form{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#remember-check{
    width:1rem;
    height: 1rem;
    margin-bottom: 0px;
    font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
background-color: aquamarine;

    
}

#check-section{
    display: flex;
    width:456px;

    align-items: center;
    justify-content: space-between;
}
#forgot-pwd{
    margin-top: 0.4rem;

}
#login-btn{
    border-radius: 8px;
    background: var(--neutral-07100, #141718);
    color:#fff;
    height: 48px;
}

a{
    text-decoration: none;
    color:#c0713e;
    margin-left: 0.2rem;
}

@media screen and (max-width:600px) {
    #login-img{
        width: 100%;
        height: 100%;
     }
     .main-container{
         display: flex;
         flex:1; 
         flex-direction: column;
     }
     .login-container{
         flex: 2;
         display:flex;
         flex-direction: column;
         justify-content: flex-start;
     
     }
     
     .img-container{
         flex: 1;
     }
     input{
        width:350px;
        height: 38px;
        margin-bottom: 21px;
        border: none;
        color: var(--neutral-04100, #6C7275);
    
    /* Body 2 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
        border-bottom: 0.1rem  #6C7275 double;
    }

#txt-container{
    width:350px;

    display: flex;
    align-items: stretch;    

flex-direction: column;
margin-bottom: 20px;


    
}
#form{
    display: flex;
    padding-left: 20px;
padding-right: 20px;

}


#check-section{
    display: flex;
width:350px;

    align-items: center;
    justify-content: space-between;
}

h1{
   
    margin-bottom:2px;

}
#login-img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius:2rem ;
    border-bottom-right-radius:2rem ;
    border-top-right-radius: 0rem;
 }

}